.control-section-fast-food-delivery h3.accordion-section-title {
  line-height: 30px;
}
#customize-theme-controls .control-panel-themes>.accordion-section-title, 
#customize-theme-controls .control-panel-themes>.accordion-section-title:hover{
  margin: 0;
}
.control-section-fast-food-delivery h3.accordion-section-title a{
  float: right;
}
#accordion-section-fast_food_delivery_upgrade_pro h3 a{
  background:#f89300 ;
  border-color: #f89300;
  outline-color:#f89300 !important;
}
#accordion-section-fast_food_delivery_upgrade_pro h3 {
  color: #50575e !important;
  background-color: #fff !important;
}
#accordion-section-fast_food_delivery_upgrade_pro h3 a:hover{
  background: #dc8200;
  border-color: #dc8200;
  outline-color:#f89300 !important;
}
#customize-controls .customize-pane-parent{
  overflow-x: hidden;
}
#customize-theme-controls .accordion-section-title:has(a):after{
  display: none !important;
}
.accordion-section-title button.accordion-trigger{
	height: auto !important;
}
.control-section-kirki-default, .control-section-kirki-outer {
  min-height: auto !important;
}